@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-10;
  }

  .user-form{
    @apply flex flex-col gap-5 w-1/4 h-auto bg-gradient-to-b from-blue-800/70 to-blue-950/90 py-20 px-14 rounded-[80px] shadow-lg;
  }

  .input-user-form{
    @apply h-20 rounded-xl text-black text-2xl placeholder-black pl-4 w-full;
  }

  .a-user-form{
    @apply text-white text-lg underline text-center;
  }

}
